@select-prefix-cls: ~"@{css-prefix}select";
@select-item-prefix-cls: ~"@{css-prefix}select-drop-item";
.@{select-prefix-cls} {
    display: inline-block;
    font-size: 14px;
    position: relative;
    &-body {
        min-height: 30px;
        max-height: 60px;
        border-radius: 5px;
        padding: 0 5px;
        overflow-y: auto;
        border: 1px solid #b9bec5;
        &:hover {
            .hover();
        }
    }
    &-icon {
        position: absolute;
        width: 26px;
        height: 30px;
        line-height: 32px;
        text-align: center;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto 0;
        .sp-icon-close {
            display: none;
        }
    }
    &-dropdown {
        position: absolute;
        overflow: auto;
        margin-top: 5px;
        left: 0;
        border-radius: 5px;
        border: 1px solid #b9bec5;
    }
    &-drop-item {
        white-space: nowrap;
        height: 30px;
        padding: 5px 10px;
        &:hover {
            background: #eeeff0;
        }
    }
    .sp-icon-arrow-down {
        transition: all @transition-time @ease-in-out;
    }
    &-visible {
        .sp-icon-arrow-down {
            transform: rotate(180deg);
        }
    }
    &-disabled {
        .@{select-prefix-cls}-body {
            .disabled();
            &:hover {
                border-color: @border-color-base;
                box-shadow: none;
            }
        }
    }
    &-clear .sp-select-body:hover .sp-icon-close {
        display: inline-block;
    }
    &-clear .sp-select-body:hover .sp-icon-arrow-down {
        display: none;
    }
    &-single {
        .@{select-prefix-cls}-placeholder {
            color: @input-placeholder-color;
        }
        .@{select-prefix-cls}-placeholder,
        .@{select-prefix-cls}-selected-value {
            display: block;
            height: @input-height-base - 2px;
            line-height: @input-height-base - 2px;
            font-size: @font-size-base;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-left: 8px;
            padding-right: 24px;
        }
    }
    &-input {
        display: inline-block;
        height: @input-height-base;
        line-height: @input-height-base;
        padding: 0 5px;
        font-size: @font-size-base;
        outline: none;
        border: none;
        box-sizing: border-box;
        color: @input-color;
        background-color: transparent;
        position: relative;
        cursor: pointer;
    }
    &-drop-item-selected,
    &-drop-item-selected:hover {
        color: #fff;
        background: rgba(82, 149, 231, .9);
    }
}

.@{select-prefix-cls}-multiple {
    .@{select-prefix-cls}-input {
        padding: 0 0 0 4px;
    }
    .@{select-item-prefix-cls} {
        &-selected {
            color: @selected-color;
            background: #fff;
        }
        &-focus,
        &-selected:hover {
            background: @background-color-select-hover;
        }
        &-selected&-focus {
            color: shade(@selected-color, 10%);
            background: #fff;
        }
        &-selected:after {
            .sp-icon();
            float: right;
            font-size: 18px;
            content: @icon-checkmark;
            color: @selected-color;
        }
    }
}